if !session.user
  ul 
    li  
      a(href="/users/signin") Salir
    li
      a(href="/users/signup") Registrate
else
    ul
      li
        a(href="/users/logout") Salir
      li
        a(href="/users/profile") Perfile

h1 Bienvenido
p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti repudiandae eos, inventore quaerat atque, suscipit architecto nesciunt, voluptatum exercitationem qui vel. Obcaecati nulla delectus corporis consectetur ut quasi atque fugit.
p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sunt, enim culpa non nisi quos, iusto quaerat repellat sequi iure quam dicta veniam, tempore officia aliquam? Modi dolor illum voluptas.
p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ad iure autem. Suscipit facilis rem, nihil cupiditate excepturi quisquam labore voluptates quis fugiat. Cupiditate, similique quasi. Officiis aspernatur non accusantium?
